<div class="container">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/welcome1.jpg", size: "500x500", class: 'img img-circle img-responsive' %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		<h1 class="text-primary text-center">Welcome to Srinivasa Rao Kolla's Real Estates</h1>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/welcome2.jpg", size: "500x500", class: 'img img-circle img-responsive' %>
	</div>
	<div class="text-center">
		<h1 class="text-danger">Make your dream home come true</h1>
	</div>
</div>


<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    	<li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
    	
    	<div class="item active">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/ven1", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/ven2", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/1.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/2.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>
    
      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/3.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/4.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/5.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/6.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/rukmini/7.jpg", size: "1500x1000", alt: 'Real Estates', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="text-center">
		<h1>Contact us @8500222172</h1>
	</div>
</div>